<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/" color=black></ion-back-button>
    </ion-buttons>
    <ion-title>Customers</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.fb8524407bf1a56fabf6046cba494de5?rik=cI5y%2bs35GwQ7Lw&pid=ImgRaw&r=0" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="warning">
      <ion-icon slot="start" name="bookmark-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam dolore ea amet sequi esse odio veniam, rerum debitis quaerat, placeat expedita tempora. Possimus commodi soluta debitis tenetur incidunt saepe?
    </ion-card-content>
  </ion-card>
</ion-content>
